[MASTER]
load-plugins=pylint_django


[MESSAGES CONTROL]
enable=all
disable=missing-docstring,too-few-public-methods

[DESIGN]
max-args=10
max-locals=20

[FORMAT]
max-line-length=100

[REFACTOR]
max-nested-blocks=5

[TYPECHECK]
generated-members=objects

[SIMILARITIES]
min-similarity-lines = 3 
ignore-comments = yes
ignore-docstrings = yes
ignore-imports = yes
