name: Django CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_PASSWORD: 9061
          POSTGRES_DB: artesanato
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
    - name: Checkout código
      uses: actions/checkout@v4
    
    - name: Configurar Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    
    - name: Instalar dependências
      run: |
        cd artesanato
        pip install -r requirements.txt
    
    - name: Rodar migrações
      run: |
        cd artesanato
        python manage.py migrate
      env:
        DATABASE_URL: postgresql://postgres:9061@localhost:5432/artesanato
    
    - name: Rodar testes (se tiver)
      run: |
        cd artesanato
        python manage.py test
      env:
        DATABASE_URL: postgresql://postgres:9061@localhost:5432/artesanato
    
    - name: Verificar sintaxe Django
      run: |
        cd artesanato
        python manage.py check